.home-btn {
    background-color: transparent;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    border: none;
    outline: none;
    font-size: 26px;
    color: #FB7299;
}

.search-bar {
    background-color: #F6F7F8;
    border: lightgray solid 1px;
    border-radius: 4px;
    width: 400px;
    padding: 6px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s;
}

.search-bar:hover {
    background-color: #e4e4e6;
    transition: all 0.3s;
}

.search-bar:focus-within {
    background-color: white;
    border: solid #FB7299 1px;
    transition: all 0.3s;
}

.search-input {
    background-color: transparent;
    outline: none;
    border: none;
    width: 95%;
}

.search-btn {
    transition: all 0.3s;
}

.search-btn:hover {
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.3s;
}

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.files {
    padding: 24px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    justify-content: flex-start;
    gap: 16px;
}