<link rel="stylesheet" href="stylesheets/index.css">

<div class="header">
    <button class="home_btn" id="homeBtn">tagit</button>
    <button class="select_dir_btn" id="selectDirBtn">
        <iconify-icon inline icon="bx:upload"></iconify-icon>
        Choose a Directory
    </button>
</div>

<div class="search_bar_container">
    <div class="search_bar">
        <iconify-icon inline icon="akar-icons:search" style="color: skyblue;"></iconify-icon>
        <input id="searchInput" type="text">
        <button id="searchBtn">Search</button>
    </div>
</div>

<div id="tagsResultsArea" class="results_area">
    <div id="tags" class="tags">
        <button class="tag">tag1</button>
        <button class="tag">tag1</button>
    </div>
</div>

<div id="cardsResultsArea" class="results_area">
    <div id="cards" class="cards">
        <div class="card">
            <div class="file">
                <span class="file_name">Sample File.mp4</span>
            </div>
            <div class="file_tags">
                <button class="tag">five star</button>
                <button class="tag">love</button>
                <button class="tag">fiction</button>
                <button class="tag">five star</button>
                <button class="tag">fiction</button>
                <button class="add_tag">+</button>
            </div>
        </div>
    </div>
</div>


<script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
<script src="javascripts/index.js"></script>