<link rel="stylesheet" href="stylesheets/index.css">

<div class="header">
    <button class="home_btn" id="homeBtn" disabled="true">tagit</button>
    <div>
        <button class="select_dir_btn" id="recentDirBtn">
            <iconify-icon inline icon="clarity:directory-line"></iconify-icon>
            Use Last Directory
        </button>
        <button class="select_dir_btn" id="selectDirBtn">
            <iconify-icon inline icon="bx:upload"></iconify-icon>
            Choose a Directory
        </button>
    </div>
</div>

<div class="search_bar_container">
    <div class="search_bar">
        <iconify-icon inline icon="akar-icons:search" style="color: skyblue;"></iconify-icon>
        <input id="searchInput" disabled="true" type="text" placeholder="search by filename">
        <button id="searchBtn" disabled="true">Search</button>
    </div>
</div>

<div id="tagsResultsArea" class="results_area">
    <div id="tags" class="tags">
        {{!-- <button class="tag">tag1</button>
        <button class="tag">tag1</button> --}}
    </div>
</div>

<div id="cardsResultsArea" class="results_area">
    <div id="cards" class="cards">
        {{!-- <div class="card">
            <div class="file">
                <span class="file_name">Sample File.mp4</span>
            </div>
            <div class="file_tags">
                <div class="tag_wrapper">
                    <button class="tag">Ficton</button>
                    <iconify-icon icon="ep:remove-filled" class="delete_tag"></iconify-icon>
                </div>
                <div class="tag_wrapper">
                    <button class="tag">Love</button>
                    <iconify-icon icon="ep:remove-filled" class="delete_tag"></iconify-icon>
                </div>
                <div class="tag_wrapper">
                <button class="tag">&plus;</button>
                <iconify-icon icon="ep:remove-filled" class="delete_tag"></iconify-icon>
                </div>
            </div>
        </div> --}}
    </div>
</div>


<script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
<script type="module" src="javascripts/index.js"></script>