<link rel="stylesheet" href="stylesheets/video-player.css">

<div class="video-title">
    {{fileName}}
</div>
<div class="video-container">
    <video id="videoPlayer" src={{fileURL}} controls preload="auto" autoplay></video>
</div> 
