* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    padding: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 2px -2px gray;
    background-color: white;
}

.home_btn {
    background-color: transparent;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    border: none;
    outline: none;
    font-size: 26px;
    color: #00AEEC;
}

.home_btn:hover {
    cursor: pointer;
}

.select_dir_btn {
    color: white;
    font-weight: bold;
    background-color: #FB7299;
    outline: none;
    border: none;
    padding: 8px 8px;
    border-radius: 4px;
    transition: opacity 0.25s;
    font-weight: bold;
}

.select_dir_btn:hover {
    cursor: pointer;
    opacity: 0.75;
    transition: opacity 0.25s;
}

.search_bar_container {
    margin-top: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
}

.search_bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    background-color: #F6F7F8;
    padding: 6px 4px 6px 16px;
    border: solid lightgray 0.5px;
    border-radius: 4px;
    transition: all 0.3s;
}

.search_bar:hover {
    background-color: white;
    transition: all 0.3s;
}

.search_bar:hover > input {
    background-color: white;
    transition: all 0.3s;
}

.search_bar:focus-within {
    background-color: white;
    border: solid #00AEEC 0.5px;
}

.search_bar > iconify-icon {
    font-size: 24px;
}

.search_bar > input {
    background-color: #F6F7F8;
    font-size: 24px;
    outline: none;
    border: none;
    transition: all 0.3s;
}

.search_bar > input:focus {
    background-color: white;
    transition: all 0.3s;
}

.search_bar > button {
    background-color: #00AEEC;
    font-size: 18px;
    color: white;
    border: none;
    padding: 6px 20px;
    border-radius: 4px;
    transition: all 0.3s;
}

.search_bar > button:hover {
    cursor: pointer;
    opacity: 0.75;
    transition: all 0.3s;
}

.tags_area {
    width: 100%;
    margin-top: 24px;
}

.results_area {
    width: 100%;
    margin-bottom: 32px;
}

.tags {
    margin: 0 auto;
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 12px;
}

.cards {
    margin: 0 auto;
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 24px;
}

.card {
    width: 200px;
    padding: 6px 10px;
    box-shadow: 0 0 4px lightgray;
    border-radius: 4px;
}

.file_name {
    font-weight: bold;
    transition: color 0.25s;
}

.file_name:hover {
    color: #00AEEC;
    cursor: pointer;
    transition: color 0.25s;
}

.file_tags {
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.tag_wrapper {
    position: relative;
    width: fit-content;
}

.tag {
    font-size: 14px;
    background-color: #F1F2F3;
    color: #61666D;
    padding: 2px 12px;
    border-radius: 8px;
    outline: none;
    border: none;
}

.delete_tag {
    position: absolute;
    right: -3px;
    top: -3px;
    color: red;
    font-size: 10px;
    z-index: 1;
}

.delete_tag:hover {
    cursor:pointer;
    opacity: 0.5;
}

.add_tag {
    font-size: 14px;
    width: 20px;
    height: 20px;
    background-color: #F1F2F3;
    color: #61666D;
    border-radius: 50%;
    outline: none;
    border: none;
    text-align: center;
    transition: all 0.25s;
}
.tag:hover, .add_tag:hover {
    cursor: pointer;
    opacity: 0.75;
}

.add_tag:hover {
    transform: translateY(-2px);
    transition: all 0.25s;
}


.add_tag {
    background-color: #00AEEC !important;
    color: white !important;
}