.add-file-tag-bar {
    background-color: #F6F7F8;
    border: lightgray solid 1px;
    border-radius: 4px;
    width: 300px;
    padding: 6px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s;
    margin-bottom: 6px;
}

.add-file-tag-bar:focus-within {
    background-color: white;
    border: solid #FB7299 1px;
    transition: all 0.3s;
}

.add-file-tag-input {
    background-color: transparent;
    outline: none;
    border: none;
    width: 95%;
}

.add-file-tag-btn{
    transition: all 0.3s;
}

.add-file-tag-btn:hover {
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.3s;
}