.file-card {
    padding: 12px;
    box-shadow: 0 0 4px lightgrey;
    width: 240px;
    height: 176px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.open-addFileTagModal-btn {
    font-size: 14px;
    width: 24px;
    height: 24px;
    background-color: #F1F2F3;
    color: #61666D;
    border-radius: 50%;
    outline: none;
    border: none;
    text-align: center;
    transition: all 0.25s;
    margin: 2px 4px;
}
.open-addFileTagModal-btn:hover {
    cursor: pointer;
    opacity: 0.75;
    transform: translateY(-2px);
    transition: all 0.25s;
    background-color: #FB7299;
    color: white;
}

.file-info {
    margin: 0 4px;
    font-size: 18px;
}

.file-info-icon {
    vertical-align: middle;
}

.file-info-name {
    font-weight: bold;
    transition: color 0.25s;
    word-break: break-all;
    vertical-align: middle;
    margin-left: 2px;
}

.file-info-name:hover {
    color: #FB7299;
    cursor: pointer;
    transition: color 0.25s;
}