.file-card {
    box-shadow: 0 0 4px lightgrey;
    width: 240px;
    height: 176px;
    display: inline-block;
    overflow: scroll;
    margin: 10px;
    border-radius: 6px;
}

.open-addFileTagModal-btn {
    font-size: 14px;
    width: 24px;
    height: 24px;
    background-color: #F1F2F3;
    color: #61666D;
    border-radius: 50%;
    outline: none;
    border: none;
    text-align: center;
    transition: all 0.25s;
    margin: 2px 4px;
}
.open-addFileTagModal-btn:hover {
    cursor: pointer;
    opacity: 0.75;
    transform: translateY(-2px);
    transition: all 0.25s;
    background-color: #FB7299;
    color: white;
}

.file-info {
    font-size: 16px;
    padding: 6px 12px 12px 12px;
    height: 40px;
    background-color: #F1F2F3;
    margin-bottom: 8px;
}

/* .file-info-icon {
    vertical-align: middle;
} */

.file-info-name {
    display: inline-block;
    font-weight: bold;
    transition: color 0.25s;
    margin-left: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 220px;
}

.file-info-name:hover {
    color: #FB7299;
    cursor: pointer;
    transition: color 0.25s;
    overflow: scroll;
    text-overflow: unset;
}