* {
    box-sizing: border-box;
}

.side-menu {
    position: fixed;
    min-height: 100vh !important;
    background-color: #F6F7F8;
    min-width: 70px;
    padding: 30px 0; 
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 16px 0;
}

.select-dir-btn {
    color: #FB7299;
    font-weight: bold;
}

.select-dir-btn:hover {
    cursor: pointer;
}

.night-mode-icon {
    transition: all 0.3s;
}

.night-mode-icon:hover {
    cursor: pointer;
    color: #FB7299;
}

.sides {
    display: flex;
}

.open-side-tags-area-btn {
    margin-left: 70px;
    position: fixed;
    min-height: 100vh;
    display: flex;
    align-items: center;
    width: fit-content;
    background-color: #e6e8e9;
    transition: color 0.25s;
}

.open-side-tags-area-btn:hover {
    color: #FB7299;
    cursor: pointer;
    transition: color 0.25s;
}

.side-tags-area {
    margin-left: 70px;
    width: 260px !important;
}

.side-tags-selected {
    height: 120px;
    border-bottom: lightgray solid 1px;
    overflow: scroll;
    margin-bottom: 12px;
}