.tag-wrapper {
    position: relative;
    display: inline-block;
    width: fit-content;
    height: fit-content;
    margin: 2px 4px;
}

.tag-wrapper:hover > .tag-delete-btn {
    visibility: visible;
}

.tag {
    font-size: 14px;
    background-color: #F1F2F3;
    color: #61666D;
    padding: 4px 12px;
    border-radius: 8px;
    outline: none;
    border: none;
    text-align: center;
}

.tag-selected {
    font-size: 14px;
    background-color: #FB7299;
    color: white;
    padding: 4px 12px;
    border-radius: 8px;
    outline: none;
    border: none;
    text-align: center;
}

.tag-delete-btn {
    position: absolute;
    right: -5px;
    top: -5px;
    color: red;
    z-index: 1;
    visibility: hidden;
}

.tag-delete-btn:hover {
    cursor:pointer;
    opacity: 0.5;
}